 @import "bootstrap-sprockets";
 @import "bootstrap";

h1 {
  text-align: center;
  text-align: underline;
  color: #33FFF6;
}

h3 {
  color: #FFCA33;
}

body {
  background-color: #877A8A
}

.fishing {
  padding-left: 100px;
  padding-top: 100px;
}
// .background-image: url(pier.jpg);
